@use "../utilities/variables";


footer {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        background-color: rgb(176, 221, 176);
        padding: 0.5rem;
        ul {
            list-style: none;
    }
}

h4 {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
}