@import "../utilities/variables";

h1 {
    text-align: center;
    padding: 2rem;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
}

// h3 {
//     text-align: center;
//     padding: 2rem; 
//     font-family: "Roboto", sans-serif;
//     font-weight: 600;
// }

.destacados {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: $background-color;
    padding: 3rem;
    margin: 4rem 5rem 5rem 4rem;
    border-radius: .3rem;
    img {
        width: 13rem;
        padding: .2rem;
        background-color: $color-footer-img;
        border-radius: $border-radius;
        transition: .5s;
        &:hover {
            transform: scale(1.3);
        }
    }
}

.destacados .savia {
    width: 9.2rem;
}

.img1 {
    width: 57rem;
    border-radius: .5rem;
    margin-left: 18rem;
    padding: 1rem;
}


