@import "../utilities/mixins";
@import "../utilities/variables";

.imgMarcas {
    width: 50rem;
    padding: 1rem;
    margin-left: 22rem;
}

.marcas {
    @include flex (row, space-around, center);
    // display: flex;
    // flex-direction: row;
    // justify-content: space-around;
    background-color: $background-color;
    border-radius: $border-radius;
    padding: 3rem;
    margin: 4rem 5rem 5rem 4rem;
    img {
        width: 15rem;
        transition: .5s;
        &:hover {
            transform: scale(1.3);
        }
    }
}

.marcas .marcaSavia {
    width: 18rem;
}

.marcas .marcaSedal {
    width: 17rem;
}