@import "../utilities/mixins";
@import "../utilities/variables";

h2 {
    text-align: center;
    padding: 2rem;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
}

.catalogo {
    @include flex (row, space-around, center);
    text-align: center;
    margin: 1rem;
    padding: 1rem;
}

.producto {
    background-color: $background-color;
    width: 23rem;
    padding: 1rem;
    margin: 1rem;
    border-radius: $border-radius;
    img {
        width: 15rem;
        margin: 1rem;
        padding: .2rem;
        background-color: $color-footer-img;
    }
}

.producto {
    transition: .5s;
    &:hover {
        transform: scale(1.1);
    }
}

.producto .savia {
    width: 10.5rem;
    
}

.producto .savia2 {
    width: 12.7rem;
}

.producto .savia3 {
    width: 12.7rem;
}

.producto p {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
}





