@import "../utilities/variables";

.revivilos1 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    padding: 1rem;
    margin: 2rem 4rem;
    background-color: $background-color;
    border-radius: $border-radius;
    img {
        width: 28rem;
    }
}

.revivilos2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1rem;
    margin: 2rem 4rem;
    background-color: $background-color;
    border-radius: $border-radius;
    img {
        width: 22rem;
    }
}

.revivilos3 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    padding: 1rem;
    margin: 2rem 4rem 5rem 4rem;
    background-color: $background-color;
    border-radius: $border-radius;
    img {
        width: 33rem;
    }
}

.texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    // background-color: $background-color;
    // border-radius: $border-radius;
    padding: 2rem;
}