.revivilos1 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    padding: 1rem;
    margin: 3rem;
    img {
        width: 30rem;
    }
}

.revivilos2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1rem;
    margin: 3rem;
    img {
        width: 25rem;
    }
}

.texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
}