@import "../utilities/mixins";
@import "../utilities/variables";

.revivilos1 {
    @include flex (row-reverse, space-around, center);
    padding: 1rem;
    margin: $margin-revivilos;
    background-color: $background-color;
    border-radius: $border-radius;
    img {
        width: 28rem;
    }
}

.revivilos2 {
    @include flex (row, space-around, center);
    padding: 1rem;
    margin: $margin-revivilos;
    background-color: $background-color;
    border-radius: $border-radius;
    img {
        width: 22rem;
    }
}

.revivilos3 {
    @include flex (row-reverse, space-around, center);
    padding: 1rem;
    margin: 2rem 4rem 5rem 4rem;
    background-color: $background-color;
    border-radius: $border-radius;
    img {
        width: 33rem;
    }
}

.texto {
    @include flex (column, space-around, center);
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    padding: 2rem;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 20px;
}